@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel

@{
    ViewData["Title"] = "Delete page";
}


<div class="container update-form">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)
        @Html.HiddenFor(x => x.Product.SchoolName)
        @Html.HiddenFor(x => x.Product.SchoolAddress)
        @Html.HiddenFor(x => x.Product.SchoolEmail)
        @Html.HiddenFor(x => x.Product.SchoolContactInfo)

        <div class="form-group">
            <label asp-for="Product.SchoolName" class="control-label">School Name</label>
            <input asp-for="Product.SchoolName" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.SchoolAddress" class="control-label">School Address</label>
            <input asp-for="Product.SchoolAddress" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.SchoolContactInfo" class="control-label">School Contact Information</label>
            <input asp-for="Product.SchoolContactInfo" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Product.SchoolEmail" class="control-label">School Email</label>
            <input asp-for="Product.SchoolEmail" class="form-control" disabled />
        </div>

        <h1>Confirm Delete of this item</h1>

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}