@page "{id}"
@using ContosoCrafts.WebSite.Services
@model ContosoCrafts.WebSite.Pages.Product.ReadModel
@{
    ViewData["Title"] = "Read page";
}



<h1>Read</h1>

<div class="content">
    <h5 class="title">@Model.Product.SchoolName</h5>

    <div class="container">
        <p class="card-text">Electronic devices needed:</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Product.LaptopQuantity != 0)
                {
                    <tr>
                        <td>Laptops</td>

                        <td>@Model.Product.LaptopQuantity</td>
                    </tr>
                }
                @if (@Model.Product.ProjectorsQuantity != 0)
                {
                    <tr>
                        <td>Projectors</td>

                        <td>@Model.Product.ProjectorsQuantity</td>

                    </tr>
                }
                @if (@Model.Product.SpeakersQuantity != 0)
                {
                    <tr>
                        <td>Speakers</td>

                        <td>@Model.Product.SpeakersQuantity</td>

                    </tr>
                }
                @if (@Model.Product.SmartBoardsQuantity != 0)
                {
                    <tr>
                        <td>Smart Boards</td>

                        <td>@Model.Product.SmartBoardsQuantity</td>

                    </tr>
                }
                @if (@Model.Product.TabletsQuantity != 0)
                {
                    <tr>
                        <td>Tablets</td>

                        <td>@Model.Product.TabletsQuantity</td>

                    </tr>
                }
                @if (@Model.Product.DigitalMarkersQuantity != 0)
                {
                    <tr>
                        <td>Digital Markers</td>

                        <td>@Model.Product.DigitalMarkersQuantity</td>

                    </tr>
                }
            </tbody>
        </table>
        <p class="card-text">Contact Information: </p>
        <p class="card-text">@Model.Product.SchoolAddress</p>
        <p class="card-text">Phone: @Model.Product.SchoolContactInfo</p>
        <p class="card-text">Email: @Model.Product.SchoolEmail</p>
        <p class="card-text">Please feel free to contact using the above information if you want to know more about the school/ want to donate any of the above items to the school.</p>
    </div>

</div>

<a href="/Product/Update/@Model.Product.Id" class="btn btn-primary">Update</a>
<a href="/Product/Delete/@Model.Product.Id" class="btn btn-primary">Delete</a>